#forkoncodeberg {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  width: 150px;
  overflow: hidden;
  height: 150px;
  z-index: 9999;
}

#forkoncodeberg a {
  background: #121212;
  color: cyan;
  text-decoration: none;
  font-family: arial,sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: xx-small;
  line-height: 2rem;
  position: absolute;
  transition: 0.5s;
  width: 100px;
  top: 30px;
  right: -30px;
  transform: rotate(45deg);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
}

#forkoncodeberg *, #forkoncodeberg ::before, #forkoncodeberg ::after {
  box-sizing: content-box;
}

#forkoncodeberg a:hover {
  background: cyan;
  color: black;
}

#forkoncodeberg a::before, #forkoncodeberg a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: cyan;
}

#forkoncodeberg a::after {
  bottom: 1px;
  top: auto;
}

@media screen and (min-width: 800px) {
  #forkoncodeberg {
    width: 200px;
    height: 200px;
  }

  #forkoncodeberg a {
    width: 200px;
    top: 60px;
    right: -60px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
    font-size: medium;
    color: #2e7d32;
  }

  #forkoncodeberg a::before, #forkoncodeberg a::after {
    background: #2e7d32;
  }

  #forkoncodeberg a:hover {
    background: #2e7d32;
    color: #121212;
  }
}
