<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" type="text/css" href="banner.css" />

    <title>Agent Smith</title>
    <meta property="og:title" content="Agent Smith - A flexible matrix reaction bot" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://agent-smith.app/agent-smith.png" />
    <meta property="og:image:width" content="1602" />
    <meta property="og:image:height" content="1201" />
    <meta property="og:url" content="https://agent-smith.app/" />
    <meta property="og:description" content="Agent Smith can react to user chosen trigger words with user chosen reactions in matrix chats." />

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//h2761125.stratoserver.net/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  <body>
    <span id="forkoncodeberg">
      <a href="https://codeberg.org/Pik-9/AgentSmith">Fork me on Codeberg</a>
    </span>

    <noscript>
      <link rel="stylesheet" href="noscript.css">

      <img src="tracker-bug.svg" height="400px" />

      <div class="text">
        <h1>Agent Smith</h1>
        <p>Wake up, Neo...</p>
        <p>The <a href="https://matrix.org" target="_blank">Matrix</a> has you...</p>
        <p>Follow the white rabbit and <a href="https://www.enable-javascript.com/" target="_blank">enable JavaScript</a>.</p>
        <p>Knock, Knock, Neo.</p>
      </div>
    </noscript>

    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
