@import url("https://fontlibrary.org/face/oxanium");

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: linear-gradient(to bottom, black, #001000);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

div.text {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'OxaniumBold';
  color: green;
}

p {
  font-family: 'OxaniumRegular';
  color: green;
}

a {
  color: cyan;
}
